<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MLX API Automation Test Suite">
    <test name="MLX Order Tests">
        <classes>
            <class name="com.mlx.api.tests.MLXCreateOrderTest"/>
        </classes>
    </test>
</suite>
